body {
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:gold;
  color: #000;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}